.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.blue {
    background: #90eedd;
}

.blue {
    color: #8b3d49;
}

.silver {
    background: #c0c0c0;
}

.silver {
    color: #000000;
}
