.App {
    background-image: url("https://img.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg?size=626&ext=jpg&ga=GA1.2.1880011253.1630108800");
    background-size: contain, auto;
    background-attachment: fixed;
}
