.avatar img {
    position: relative;
    left: 10px;
    top: 5px;
    width: 125px;
    height: 180px;
    border-radius: 50%;
    border: solid 1px;
}

.common {
    position: absolute;
    left: 100px;
    top: 45px;
    font-style: initial;
    border: solid 1px;
    border-radius: 7px;
    border-color: black;
    height: 80px;
    width: 300px;
    font-size: larger;
    background-color: black;
}

.name {
    color: white;
    position: absolute;
    left: 20px;
    top: 10px;
}

.message {
    position: absolute;
    top: 40px;
    left: 50px;
    color: white;
}

.time {
    position: absolute;
    top: 55px;
    left: 250px;
    color: whitesmoke;
}

.endWrapper {
    border-bottom: 30px solid transparent;
    border-right: 30px solid black;
    -webkit-transform: rotate(-270deg);
    position: absolute;
    top: 51px;
    left: -15px;
}