.link{
    text-decoration: none;
    color: purple;
    margin: 10px;
}

.link:hover{
    color: blueviolet;
}

.active{
    color: deeppink;
}

.block{
    width: 21px;
    height: 21px;

    margin: 10px;
}

.header{
    display: flex;

    width: 280px;

    transition-duration: 500ms;
    transform: translate(-220px);
}

.header:hover{
    transition-duration: 500ms;
    transform: translate(0);
}